@font-face {
  font-family: 'ColfaxAI';
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format('woff2'),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ColfaxAI';
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format('woff2'),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}
body,
input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: 'ColfaxAI', Helvetica, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: right;
  justify-content: space-start;
  padding: 0 40px;
}

h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 40px;
}
form {
  display: flex;
  flex-direction: column;
  width: 320px;
}
input[type='text'] {
  padding: 12px 16px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  margin-bottom: 24px;
}
input[type='number'] {
  padding: 12px 16px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  margin-bottom: 24px;
}
::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
input[type='submit'] {
  padding: 12px 0;
  color: #fff;
  background-color: #10a37f;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
.result {
  font-weight: bold;
  margin: 40px;
}

.image {
  margin: 30px;
}

.flashcards {
  margin: 40px;
  font-size: 1em;
}

button {
  padding: 12px 12px;
  margin: 5px 10px;
  color: #fff;
  background-color: rgb(12, 187, 223);
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  border-radius: 12px;
}
button:hover {
  background-color: rgb(9, 134, 159);
  color: #fff;
}
