<!DOCTYPE html>
<head>
  <title>Stephen</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
    <div class="navbar">  
        <button onclick="window.location.href='/';">Go to Text Prompt</button>
        <button onclick="window.location.href = '/images';">Go to Image Prompt</button>
        <button onclick="window.location.href = '/flashcards';">Go to Flashcards</button>
        <button onclick="window.location.href = '/resume';">Go to Resume</button>
      </div>
  <h3>Enter data to summarize</h3>
  <form action="/flashcards" method="post">
    <input type="text" name="flashcard_prompt" placeholder="Enter a prompt" autocomplete="off" autofocus required />
    <input type="submit" value="Submit" />
  </form>




  <div class="flashcards">
    <ul style="list-style-type: none;">
    {% for content in flashcards %}
    <li style="list-style-type: none;">{{ content|e }}</li>
    {% endfor %}
    </ul>
  </div>


</body>