<!DOCTYPE html>
<head>
  <title>Stephen</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <div class="navbar">  
    <button onclick="window.location.href='/';">Go to Text Prompt</button>
    <button onclick="window.location.href = '/images';">Go to Image Prompt</button>
    <button onclick="window.location.href = '/flashcards';">Go to Flashcards</button>
  </div>
  <h3>Enter a prompt and a temperature 0-2</h3>
  <form action="/" method="post">
    <input type="text" name="prompt" placeholder="Enter a prompt" autocomplete="off" autofocus required />
    <input type="number" step=".1" min="0" max="2" value="1" name="temperature" autocomplete="off" required />
    <input type="submit" value="Submit" />
  </form>
   {% if result %}
  <div class="result"> {{ result }} </div>
  {% endif %}
</body>